* {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f64;
    width: 100vw;
    height: 100px;
    color: #fff;
}

.choices {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 50px;
}

.choice {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice img {
    height: 150px;
    width: 150px;
    object-fit: cover;

}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}


.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    margin: 20px 0px;
}

.score p:first-child {
    font-size: 50px;
    padding: 5px 0px;
}

.score p:last-child {
    font-size: 25px;
    text-transform: uppercase;
}


#msg {
    font-size: 20px;
    font-weight: bold;
    background-color: #0f0f64;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    margin: 40px 0px;
}